<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div class="col-sm-6 col-md-4">
	<h2>Add a new part</h2>
	<div class="form-group">
		<form action="/builds/<%= @build.id %>" method="POST">
			<input type="text" class="form-control" name="name" placeholder="Name"><br>
			<input type="text" class="form-control" name="price" placeholder="Price"><br>
			<input type="submit" value="submit">
		</form>
	</div>
</div>

