<h1>Create a new Build</h1>
<form action="/builds" method="POST">
	<label>Title:</label>
	<input type="text" name="title"><br>
	<label>Budget:</label>
	<input type="text" name="budget"><br>
	<input type="submit" value="submit">
</form>